# ✅ Angular y herramientas
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
/angular/cache
/coverage
/typings
.sass-cache/
.connect.lock
/libpeerconnection.log
testem.log

# ✅ Archivos de sistema y editores
.DS_Store
Thumbs.db
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# 🔐 Claves y configuración sensible
/src/environments/environment.ts         # clave Firebase frontend
/backend/*.json                          # clave Firebase backend
.env

# 🐍 Python (FastAPI)
/backend/venv
/backend/__pycache__/
*.pyc
*.pyo
*.pyd



# 🔧 Logs
npm-debug.log
yarn-error.log
